
#cover-me {
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 100%;
}

a {
  color: #0090d3;
  text-decoration: none;
}
li {
  line-height: 1.5rem;
}
.animation-h3 {
  display: flex;
}
nav {
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 40px;

  width: 100%;
  background: #1c1c1c;
  display: flex;
  justify-content: end;
}
nav a {
  margin: 10px 10px;
  color: white;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  color: #dddddd;
}

nav a::before {
  position: absolute;
  content: ' ';
  top: 0px;
  left: 0px;
  /* border-bottom: 3px solid #1c1c1c; */
  width: 100%;
  height: 100%;

  padding: 5px;
  transition: .9s;
  width: 1px;

}

nav a:hover::before {
  opacity: 1;
  border-bottom: 13px solid #4d4d4d;
  transition: .9s;
  width: 100vw;
}

.container {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  font-size: 50px;
  padding:  15%;
  height: 70vh;
}

@supports (-moz-appearance:none) {
  .container {
    background: rgba(0, 0, 0, 0.8)
  }
}

.hideme {
  height: 0px;
  overflow: hidden;
  position: fixed;

}

.container h1 {
  text-transform: uppercase;
  margin: 0px;
  word-wrap: break-word
}
.container h3 {

  margin: 0;
  margin-top: -20px;
    font-size: 3rem;
    line-height: 2.5rem;
}
.skills, .contact {
  z-index: 3;
  position: relative;
  padding: 20px;
}
.contact-container {
  text-align: center;
}
.contact {
  box-shadow: 0px 0px 10px 0px #000000;
  display: flex;
  flex-wrap: wrap;
}
.contact a {
  color: white; 
  font-weight: 800;
  z-index: 5;
  font-size: 14px;
}
.contact:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  content: ' ';
  height: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid gray;
  opacity: .2;
}

.contact-list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  margin: 0 30px;
}

.contact-list a {
  display: grid;
  grid-template-rows: 40px auto;
  justify-items: center;
  grid-gap: 10px;
  word-break: break-word;
  width: 80px;
  margin-right: 20px;
}
.contact-list img {
  height: 100%;
  max-width: 40px;
  object-fit: contain;
  transition: .2s;
}
.contact-list img:hover {
  transform: scale(1.5, 1.5);
  transition: .2s;
}

.skills {
  background: rgba(0, 0, 0, 0.4);
  padding-bottom: 100px;
}

.portfolio {
  padding-top: 15px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  padding: 10px;
  border-top: 1px solid #000;
  background: rgba(26, 26, 26, 0.9);
  box-shadow: 0px 0px 10px 0px #000000;
}

.portfolio-container, .skills-container, .contact-container {
  max-width: 900px;
  margin: auto;
}
.threed-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
}
.threed-gallery img {
  width: 100%;
object-fit: contain;
height: 100%;
}
.animation-gallery {
  display: flex;
  flex-wrap: wrap;
}
.animation-gallery iframe {
  width: 250px;
}

h2 {
  font-size: 2rem;
  padding: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  word-wrap: break-word;
}

.proj {

  grid-gap: 15px;
  justify-content: center;
  margin-top: 100px;
}
.proj .imggallery {
  display: flex;
  grid-gap: 10px;
  width: 100%;
  overflow-x:scroll;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.imggallery::-webkit-scrollbar {
  width: 10px;
}

.imggallery::-webkit-scrollbar-track {
  background: none; 
  border-bottom: 1px solid #555;
}
 
.imggallery::-webkit-scrollbar-thumb {
  background: #888; 
}

.imggallery::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.proj .imggallery img {
  margin: 10px;
  height: 250px;
  object-fit: cover;
  box-sizing: border-box;
  transition: .5s;
  border-radius: 5px;
}
.proj .desc h4 {
  margin-top: -10px;
}
.proj .desc ul {
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  width: 100%;
  padding: 15px;

}

.skills li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  margin: 5px;
  position: relative;
}
.skills li::before {
  border: 1px solid white;
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .2;
}
.skills h3 {
  display: inline-block;

  padding-right: 10px;

  margin-right: 50px;
}

.hearts1
{
  display: flex;
  height: 40px;
  width: 40px;
  background-image: url('img/interactives/hearts.png');
  background-size: cover;
}
.hearts2
{
  display: flex;
  height: 40px;
  width: 40px;
  background-image: url('img/interactives/heart4.png');
  background-size: cover;
}

.hearts1:hover, .hearts2:hover {
  animation: sprite .7s steps(49) forwards infinite;
}

@keyframes sprite {
  100% {
      background-position: -1960px;
  }
}