.contact-container {
    z-index: 3;
    position: sticky;
    padding: 10px;
    top: 30px;
    box-sizing: border-box;
  }
  
  
  .contact a {
    color: white;
    font-weight: 800;
    z-index: 5;
    font-size: 14px;
  }
  
  .contact-list {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }
  
  .contact-list a {
    display: flex;
    word-break: break-word;
    color: white;
    text-decoration: none;
    height: 40px;
    margin: 10px;
    align-items: center;
  }
  
  .contact-list img {
    height: 100%;
    max-width: 30px;
    object-fit: contain;
    transition: .2s;

  }
  
  .contact-list a:hover img{
    transition: .2s;
    filter: grayscale(100%) brightness(120%)
  }