footer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  z-index: 2;
    .credit {
        text-align: right;
  }
  .contact-container {
    z-index: 3;
    box-sizing: border-box;

    .contact-list {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-left: auto;
      a {
        display: flex;
        word-break: break-word;
        color: white;
        text-decoration: none;
        height: 40px;
        margin: 0 10px;
        align-items: center;
        img {
          height: 100%;
          max-width: 25px;
          object-fit: contain;
          transition: 0.2s;
        }
        &:hover img {
          transition: 0.2s;
          filter: grayscale(100%) brightness(120%);
        }
      }
    }
  }
}
