

.proj-nav {
    position: relative;
    display: grid; 
    padding-top: 50px;
    height: 100%;
    grid-gap: 5px;
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    &:before {
        content: ' ';
        height: 100%;
        border-left-width: 1px;
        border-left-style: solid;
        position: absolute;
        left: 25px;
    }
    strong {
        color: #DAA520;
    }
    p {
        position: relative;
        padding-left: 15px;
        display: flex; 
        align-items: center;
        align-content: center;
        cursor: pointer;
        margin-bottom: 10px;
        transition: .2s;
        letter-spacing: 1px;
        img {
            height: 20px;
            height: 20px;
            padding-right: 20px;
        }
        &:hover {
            font-weight: bold;
            transition: .2s;
        }
    }
    @media screen and (max-width: 800px) {
        display: none;
    }
}