@import url("https://use.typekit.net/tcr2vad.css");
.App {
  text-align: center;
  width: 100%;
  height: auto;
  font-family: noto-sans, sans-serif;
}

.App::before {
  content: " ";
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
}

html {
  height: 100%;
}

#root {
  height: 100%;
}